<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>商店集點卡</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
    integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
</head>
<header>
  <nav class="navbar navbar-dark bg-primary justify-content-between">
    <div class="left-part"><a class="navbar-brand mx-3" href="/">
      {{#if isAuthenticated}} {{user.name}}的 {{/if}}咖啡店集點卡
    </a>
    {{#if user.isAdmin}}
      <a class="navbar-brand" href="/admin" style="color: white;">Admin 後台</a>
    {{/if}}</div>
   
    {{#if isAuthenticated}}
      <a class="btn btn-outline-light  mx-3" href="/users/logout">Logout</a>
    {{else}}
      <a class="btn btn-outline-light  mx-3" href="/users/login">Login</a>
    {{/if}}
  </nav>
</header>
<body>
  {{{ body }}}
  
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
</body>
</html>