body {
  background: #f4f1de;
  color: rgb(10, 10, 10);
}
.card h1 {
  text-align: center;
  color: dimgrey;
}

#card {
  max-width: 500px;
  overflow: auto;
  margin: 40px auto;
  background: #f0ecd3;
  padding-bottom: 40px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#message {
  background: #333;
  color: #fff;
}
#pointCard li {
  color: #0b525b;
  float: left;
  margin: 10px;
  height: 70px;
  width: 70px;
  font-size: 50px;
  background: rgb(220, 220, 220);
  list-style: none;
  text-align: center;
  border-radius: 5px;
}
#pointCard li:hover,
#stampBtn:hover {
  cursor: pointer;
}

#userBtn {
  display: block;
  min-width: 150px;
  border: 0;
  background: rgb(181, 181, 181);
  color: floralwhite;
  padding: 10px;
  border-radius: 15px;
  text-decoration: none;
}

#zeroH3 {
  color: floralwhite;
}

.footer {
  display: block;
  text-align: center;
  padding-top: 20px;
}

.admin-wrapper {
  width: 100%;
  max-width: 800px;
  border-radius: 10px;
  margin: 40px auto;
  overflow: auto;
}

table {
  border: 1px solid #ccc;
  border-collapse: collapse;
  table-layout: fixed;
  width: 100%;
}

table tr {
  border: 1px solid #ddd;
  padding: 0.35em;
}
table tr:nth-child(even) {
  background: #f8f8f8;
}
table th,
table td {
  padding: 0.625em;
  text-align: left;
}
table th {
  background: #999;
  color: #fff;
  font-size: 0.85em;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
table td {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media screen and (max-width: 576px) {
  #card {
    max-width: 250px;
    overflow: auto;
    margin: 40px auto;
    background: #666;
    padding-bottom: 40px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
