body {
  background: #212121;
  color: #666;
}
h1 {
  text-align: center;
  color: #fff;
}

#card {
  width: 500px;
  overflow: auto;
  margin: 40px auto;
  background: #666;
  padding-bottom: 40px;
  border-radius: 10px;
}
#message {
  background: #333;
  color: #fff;
}
#pointCard li {
  float: left;
  margin: 10px;
  height: 70px;
  width: 70px;
  font-size: 50px;
  background: #333;
  color: #ccc;
  list-style: none;
  text-align: center;
  border-radius: 5px;
}
#pointCard li:hover,
#stampBtn:hover {
  cursor: pointer;
}
#addBtn {
  display: block;
  min-width: 150px;
  border: 0;
  background: #444;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  text-decoration: none;
}

#addBtn h3 {
  color: green;
}

#reduceBtn {
  display: block;
  min-width: 150px;
  border: 0;
  background: #444;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  text-decoration: none;
}

#reduceBtn h3 {
  color: red;
}

#zeroBtn {
  display: block;
  min-width: 150px;
  border: 0;
  background: #444;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  text-decoration: none;
}

#zeroBtn h3 {
  color: white;
}

.footer {
  display: block;
  text-align: center;
  padding-top: 20px;
}
